* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bg_band {
    width: 100%;
}

nav {
    background-color: #666666;
    overflow: hidden;
    padding: 1% 0%;

}

nav>a,
button {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    font-weight: 600;
}

nav>a:hover {
    background-color: rgb(224, 224, 224);
    color: #666666;
}

nav>a:first-child {
    background-color: rgb(0, 130, 80);
    margin-left: 0px;
}

nav>a:first-child:hover {
    background-color: rgb(224, 224, 224);

}

header>img {
    width: 100%;
    margin-bottom: -1%;
}

main {
    background-image: -moz-linear-gradient(gray, white);
    padding-bottom: 5%;
   
}

section,
article {
    text-align: center;
}

section {
    padding: 1% 15%;
    font-size: 18px;
     color: white;

}

article {
    color:#474747;
}


#band_container {
    display: flex;
   justify-content: center;
}

.band_img {
    padding: 0% 3%;
}


/* BORDER LINES
main {
    border:red solid 5px;

}
article, div {
    border:blue solid 4px;

}
.band_img {
    border:green solid 4px;
} */